[Desktop Entry]
Encoding=UTF-8
Name=AfterStep
Comment=This session logs you into AfterStep
Exec=startafterstep
TryExec=startafterstep
Icon=
Type=Application
