--- VTK/CMakeLists.txt	2001-12-21 00:18:29.000000000 +0100
+++ VTK/CMakeLists.txt	2002-06-07 01:08:05.000000000 +0200
@@ -1,9 +1,9 @@
 PROJECT(VTK)
 INCLUDE_REGULAR_EXPRESSION("^(lex|vtk|png|j).*$")
 
-OPTION(BUILD_SHARED_LIBS "Build VTK with shared libraries." OFF)
+OPTION(BUILD_SHARED_LIBS "Build VTK with shared libraries." ON)
 SET(VTK_BUILD_SHARED_LIBS ${BUILD_SHARED_LIBS} CACHE INTERNAL "Is this VTK built with shared libraries.")
-OPTION(BUILD_EXAMPLES "Build VTK examples." OFF)
+OPTION(BUILD_EXAMPLES "Build VTK examples." ON)
 OPTION(VTK_USE_64BIT_IDS "Build VTK with 64 bit ids" OFF)
 MARK_AS_ADVANCED(VTK_USE_64BIT_IDS)
 
@@ -19,7 +19,7 @@
 OPTION (VTK_DEBUG_LEAKS "Build leak checking support into vtk." OFF)
 MARK_AS_ADVANCED(VTK_DEBUG_LEAKS)
 OPTION (VTK_USE_HYBRID "Build the hybrid directory classes")
-OPTION (VTK_USE_PATENTED "Build the patented directory classes, these classes are patented and may require a license to use")
+OPTION (VTK_USE_PATENTED "Build the patented directory classes, these classes are patented and may require a license to use" ON)
 IF (APPLE)
   OPTION (VTK_USE_QUARTZ "Build classes for the Quartz window manager" ON)
   IF (CMAKE_HAS_X)
@@ -62,7 +62,7 @@
   ENDIF(MESA_MANGLE_PATH)
 ENDIF(VTK_MANGLE_MESA)
 
-OPTION(VTK_WRAP_TCL "wrap classes into the TCL intepreted language")
+OPTION(VTK_WRAP_TCL "wrap classes into the TCL intepreted language" ON)
 IF (VTK_WRAP_TCL)
   INCLUDE (${CMAKE_ROOT}/Modules/FindTCL.cmake)
   UTILITY_SOURCE(VTK_WRAP_TCL_EXE vtkWrapTcl Wrapping vtkWrapTcl.c)
@@ -76,7 +76,7 @@
   ENDIF (EXECUTABLE_OUTPUT_PATH)
 ENDIF (VTK_WRAP_TCL)
 
-OPTION(VTK_WRAP_PYTHON "wrap classes into the Python interpreted language")
+OPTION(VTK_WRAP_PYTHON "wrap classes into the Python interpreted language" ON)
 IF (VTK_WRAP_PYTHON)
   INCLUDE (${CMAKE_ROOT}/Modules/FindPythonLibs.cmake)
   FIND_FILE(VTK_WRAP_HINTS hints ${VTK_SOURCE_DIR}/Wrapping )
@@ -92,7 +92,7 @@
  ENDIF (DART_ROOT)
 ENDIF(BUILD_TESTING AND VTK_WRAP_PYTHON)
 
-OPTION(VTK_WRAP_JAVA "wrap classes into the Java language")
+OPTION(VTK_WRAP_JAVA "wrap classes into the Java language" ON)
 IF (VTK_WRAP_JAVA)
   INCLUDE (${CMAKE_ROOT}/Modules/FindJNI.cmake)
   FIND_FILE(VTK_WRAP_HINTS hints ${VTK_SOURCE_DIR}/Wrapping )
