[Desktop Entry]
Encoding=UTF-8
Name=Graveman
Exec=graveman
Comment=Frontend for burning CDs and DVDs
Icon=
Terminal=false
Type=Application
Categories=Application;AudioVideo;
