[Desktop Entry]
Encoding=UTF-8
Name=Enlightenment
Comment=This session logs you into Enlightenment
Exec=startenlightenment
TryExec=startenlightenment
Icon=
Type=Application
