[Desktop Entry]
Encoding=UTF-8
Name=Enlightenment R17
Comment=This session logs you into Enlightenment R17
Exec=startenlightenment17
TryExec=startenlightenment17
Icon=
Type=Application
